.cabecalho {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: end;
}

.h3header {
  margin-right: 15px;
}

.formWallet {
  align-items: center;
  background-color: rgb(19, 5, 62);
  color: white;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  padding: 10px 1px;
}

input {
  margin-left: 10px;
  text-align: center;
}

select {
  margin-left: 10px;
}

table , th , td {
  border: 1px solid;
}

td {
  text-align: center;
}

table {
  font-size: 12px;
  width: 100%;
}

.loggin-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}